[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Seth Kranzler
	email = sethkranzler@gmail.com
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[core]
	excludesfile = ~/.gitignore # Use ~/.gitignore as the global excludes file
	quotepath = false
	ignorecase = false
[color]
	ui = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
