[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	excludesfile = ~/.gitignore # Use ~/.gitignore as the global excludes file
	quotepath = false
	ignorecase = false
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[rerere]
	enabled = true
[push]
	autoSetupRemote = true
